{% extends "User/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-page">

        <div class="login-main">  	

            <div class="login-head">
                <h1><B>Compte activé</B></h1>
            </div>
            <div class="login-block">

                <b><p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p></b>
                {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
            <center>
                <div class="compose-block">
                    <a href="{{path('fos_user_security_login')}}">Connexion</a>
                </div>
            </center>
        </div>
          
    </div>
{% endblock fos_user_content %}
